In [ ]:
import pandas as pd

# data path
data_path = r"F:\9. MAJOR PROJECT\2. Sepsis- project\sepsis-data\sepsis data"

# load data
df = pd.read_csv(data_path)

# basic checks
print("Shape:", df.shape)

Shape: (6960612, 21)

Columns:
 ['stay_id', 'hour', 'hr', 'map', 'rr', 'temp_c', 'spo2', 'creatinine', 'bilirubin', 'platelets', 'lactate', 'sofa_cardio', 'sofa_lab', 'anchor_age', 'gender', 'race', 'insurance', 'admission_type', 'label_12h', 'urine_output_ml', 'urine_output_6h_ml']

Data types:

stay_id                 int64
hour                   object
hr                    float64
map                   float64
rr                    float64
temp_c                float64
spo2                  float64
creatinine            float64
bilirubin             float64
platelets             float64
lactate               float64
sofa_cardio             int64
sofa_lab                int64
anchor_age              int64
gender                 object
race                   object
insurance              object
admission_type         object
label_12h               int64
urine_output_ml       float64
urine_output_6h_ml    float64
dtype: object

In [2]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6960612 entries, 0 to 6960611
Data columns (total 21 columns):
 #   Column              Dtype
---  ------              -----
 0   stay_id             int64
 1   hour                object
 2   hr                  float64
 3   map                 float64
 4   rr                  float64
 5   temp_c              float64
 6   spo2                float64
 7   creatinine          float64
 8   bilirubin           float64
 9   platelets           float64
 10  lactate             float64
 11  sofa_cardio         int64
 12  sofa_lab            int64
 13  anchor_age          int64
 14  gender              object
 15  race                object
 16  insurance           object
 17  admission_type      object
 18  label_12h           int64
 19  urine_output_ml     float64
 20  urine_output_6h_ml  float64
dtypes: float64(11), int64(5), object(5)
memory usage: 3.0 GB

In [4]:
df['label_12h'].value_counts(normalize=True)

label_12h
0    0.983454
1    0.016546
Name: proportion, dtype: float64

In [5]:
df['hour'].head(10)

0    2161-06-13 05:00:00
1    2161-06-12 11:00:00
2    2161-06-12 19:00:00
3    2129-01-15 02:00:00
4    2129-01-16 04:00:00
5    2129-01-16 16:00:00
6    2129-01-17 03:00:00
7    2129-01-14 17:00:00
8    2129-01-16 19:00:00
9    2129-01-14 22:00:00
Name: hour, dtype: object

In [6]:
df['hour'].unique()[:20]

array(['2161-06-13 05:00:00', '2161-06-12 11:00:00',
       '2161-06-12 19:00:00', '2129-01-15 02:00:00',
       '2129-01-16 04:00:00', '2129-01-16 16:00:00',
       '2129-01-17 03:00:00', '2129-01-14 17:00:00',
       '2129-01-16 19:00:00', '2129-01-14 22:00:00',
       '2181-07-10 21:00:00', '2181-07-10 11:00:00',
       '2181-07-11 01:00:00', '2181-07-09 09:00:00',
       '2181-07-09 05:00:00', '2145-01-12 14:00:00',
       '2145-01-10 18:00:00', '2145-01-12 08:00:00',
       '2145-01-10 16:00:00', '2145-01-11 04:00:00'], dtype=object)

In [ ]:
df['hour'].nunique()

836969

In [8]:
# convert to datetime
df['hour'] = pd.to_datetime(df['hour'], errors='coerce')

df['hour'].dtype

dtype('<M8[ns]')

In [9]:
df['hour'].isna().sum()

np.int64(0)

In [10]:
df.sort_values(['stay_id', 'hour']).head(10)

,stay_id,hour,hr,map,rr,temp_c,spo2,creatinine,bilirubin,platelets,...,sofa_cardio,sofa_lab,anchor_age,gender,race,insurance,admission_type,label_12h,urine_output_ml,urine_output_6h_ml
4665442,30000484,2136-01-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
6742047,30000484,2136-01-14 18:00:00,106.0,81.0,22.0,35.555556,100.0,NaN,NaN,NaN,...,0,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
3839665,30000484,2136-01-14 19:00:00,99.0,NaN,16.0,NaN,100.0,NaN,NaN,NaN,...,0,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
2811910,30000484,2136-01-14 20:00:00,88.0,55.0,14.0,NaN,100.0,NaN,NaN,NaN,...,1,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
4665439,30000484,2136-01-14 21:00:00,87.0,62.0,13.0,NaN,100.0,NaN,NaN,NaN,...,1,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
5700416,30000484,2136-01-14 22:00:00,92.0,82.0,18.0,NaN,98.0,NaN,NaN,NaN,...,0,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
4665441,30000484,2136-01-14 23:00:00,83.0,50.0,14.0,NaN,100.0,NaN,NaN,NaN,...,1,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
4457844,30000484,2136-01-15 00:00:00,81.0,52.0,15.0,35.555556,100.0,NaN,NaN,NaN,...,1,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
4255919,30000484,2136-01-15 01:00:00,91.0,84.0,17.0,NaN,100.0,NaN,NaN,NaN,...,0,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN
6325224,30000484,2136-01-15 02:00:00,90.0,58.0,13.0,NaN,100.0,NaN,NaN,NaN,...,1,0,91,M,MULTIPLE RACE/ETHNICITY,Medicare,EW EMER.,1,NaN,NaN

In [11]:
df.groupby('stay_id')['hour'].diff().dt.total_seconds().describe()

count    6.914275e+06
mean    -1.104220e+01
std      7.424473e+05
min     -1.944000e+07
25%     -1.908000e+05
50%      3.600000e+03
75%      1.908000e+05
max      1.916640e+07
Name: hour, dtype: float64

In [12]:
df.isna().mean().sort_values(ascending=False)

urine_output_ml       0.996944
urine_output_6h_ml    0.984752
temp_c                0.714368
map                   0.415562
bilirubin             0.340402
lactate               0.236014
spo2                  0.062564
rr                    0.060417
hr                    0.047475
platelets             0.039281
creatinine            0.037325
insurance             0.013907
stay_id               0.000000
hour                  0.000000
sofa_cardio           0.000000
sofa_lab              0.000000
anchor_age            0.000000
race                  0.000000
gender                0.000000
label_12h             0.000000
admission_type        0.000000
dtype: float64

In [13]:
df[['urine_output_ml', 'urine_output_6h_ml']].describe()

       urine_output_ml  urine_output_6h_ml
count     21275.000000       106137.000000
mean       1016.512385         1216.789206
std        1290.607172         2608.490161
min           0.000000            0.000000
25%         200.000000          200.000000
50%         450.000000          420.000000
75%        1200.000000          975.000000
max       13000.000000        57950.000000

In [14]:
df['temp_c'].describe()

count    1.988177e+06
mean     3.700215e+01
std      6.852691e-01
min      3.000000e+01
25%      3.661111e+01
50%      3.694444e+01
75%      3.733333e+01
max      4.480000e+01
Name: temp_c, dtype: float64

In [15]:
df['map'].describe()

count    4.068044e+06
mean     7.972740e+01
std      1.571772e+01
min      3.000000e+01
25%      6.900000e+01
50%      7.800000e+01
75%      8.900000e+01
max      2.000000e+02
Name: map, dtype: float64

In [16]:
df['lactate'].describe()

count    5.317809e+06
mean     1.619435e+00
std      1.209747e+00
min      5.000000e-01
25%      1.000000e+00
50%      1.400000e+00
75%      1.800000e+00
max      2.910000e+01
Name: lactate, dtype: float64

In [17]:
df['creatinine'].describe()

count    6.700810e+06
mean     1.487795e+00
std      1.420158e+00
min      1.000000e-01
25%      7.000000e-01
50%      1.000000e+00
75%      1.700000e+00
max      1.500000e+01
Name: creatinine, dtype: float64

In [18]:
df['platelets'].describe()

count    6.687192e+06
mean     2.202276e+02
std      1.318578e+02
min      5.000000e+00
25%      1.300000e+02
50%      1.970000e+02
75%      2.830000e+02
max      1.000000e+03
Name: platelets, dtype: float64

In [19]:
df['bilirubin'].describe()

count    4.591208e+06
mean     2.056016e+00
std      4.354316e+00
min      1.000000e-01
25%      4.000000e-01
50%      6.000000e-01
75%      1.400000e+00
max      3.000000e+01
Name: bilirubin, dtype: float64

In [20]:
df['hr'].describe()

count    6.630154e+06
mean     8.664302e+01
std      1.834661e+01
min      3.000000e+01
25%      7.300000e+01
50%      8.500000e+01
75%      9.800000e+01
max      2.200000e+02
Name: hr, dtype: float64